.wrapper {
  padding: 24px 8px;
  background: $bg-primary;
  min-height: 100dvh;
}

.actions {
  display: flex;
  gap: 16px;
  color: white;
  margin-bottom: 24px;
  @media screen and (max-width: 525px) {
    flex-direction: column;
    gap: 8px;
  }
  &__left {
    flex-grow: 1;
  }
  &__right {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    @media screen and (max-width: 300px) {
      justify-content: center;
    }
  }
}
