.badge {
  padding: $size-4 $size-10;
  font-size: $size-14;
  border-radius: $size-4;
  line-height: $size-20;
  font-weight: 500;
  display: inline-block;
  text-align: center;

  &__green {
    color: $fg-green;
    background: $bg-secondary;
  }

  &__orange {
    color: $fg-orange;
    background: $bg-secondary;
  }

  &__red {
    color: $fg-red;
    background: $bg-secondary;
  }

  &__blue {
    color: $fg-blue;
    background: $bg-secondary;
  }
  &__yellow {
    color: $fg-yellow;
    background: $bg-secondary;
  }

  &__indigo {
    color: $fg-indigo;
    background: $bg-secondary;
  }

  &__coral {
    color: $fg-coral;
    background: $bg-secondary;
  }

  &__teal {
    color: $fg-teal;
    background: $bg-teal;
  }

  &__purple {
    color: $fg-purple;
    background: $bg-purple;
  }

  &__pink {
    color: $fg-pink;
    background: $bg-pink;
  }

  &__amber {
    color: $fg-amber;
    background: $bg-amber;
  }

  &__dark {
    background: $bg-secondary;
  }
}
