$fg-primary: #FFFFFF;
$fg-secondary:#B0B4BA;
$fg-tertiary: #5A6169;

$badge-accent: #9EB1FF;
$badge-red: #FF92AD;
$badge-yellow: #FFA057;
$badge-green: #52E1FE;
$button-secondary: #B0B4BA;
$button-yellow: #FF9592;

$bg-primary: #111113;
$bg-seconday: #18191B;
$bg-input: #0D0D0E;

$bg-button-secondary: #222427;
$bg-button-secondary-hover: #272A2D;
$bg-button-danger: #3B121B;
$bg-button-danger-hover: #500F1E;
$bg-badge-accent: #18244B;
$bg-badge-red: #381527;
$bg-badge-yellow: #331E10;
$bg-badge-green: #0E2C38;

$border-table: #3C4146;
$border-input: #2B2E31;
$border-input-active: #425BB0;

$size-12: 0.75rem;
$size-10: 0.625rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-2: 0.125rem;
$size-4: 0.250rem;