$accent: #3e63dd;
$accent-hover: #3358d4;
$fg-primary: #ffffff;
$fg-secondary: #b0b4ba;
$fg-tertiary: #5a6169;
$fg-button-secondary: #b0b4ba;
$fg-purple: #9eb1ff;
$fg-pink: #ff92ad;
$fg-amber: #ffa057;
$fg-teal: #52e1fe;
$fg-green: #21bc59;
$fg-orange: #da860d;
$fg-red: #e43d42;
$fg-blue: #197dce;
$fg-yellow: #d8ba46;
$fg-indigo: #576eed;
$fg-coral: #e9763c;
$bg-primary: #111113;
$bg-secondary: #18191b;
$bg-input: #0d0d0e;
$bg-button-secondary: #222427;
$bg-button-secondary-hover: #272a2d;
$bg-purple: #18244b;
$bg-pink: #381527;
$bg-amber: #331e10;
$bg-teal: #0e2c38;
$border-table: #3c4146;
$border-input: #2b2e31;
$border-input-active: #425bb0;
$error: #e5484d;
$success: #2f7c57;

$size-12: 0.75rem;
$size-10: 0.625rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-2: 0.125rem;
$size-4: 0.25rem;
$size-8: 0.5rem;
$size-1: 0.0625rem;
