.table__container {
  width: 100%;
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: $size-10;
  }

  &::-webkit-scrollbar-track {
    background: $bg-primary;
    border-radius: $size-4;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $border-table;
    border-radius: $size-4;
    border: $size-2 solid $bg-primary;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $border-input;
  }

  scrollbar-width: thin;
  scrollbar-color: $border-table $bg-primary;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: $fg-primary;
}

.table__head {
  background-color: $bg-primary;
  font-size: $size-14;
  padding: $size-12;
  border-bottom: 1px solid $border-table;
}

.table__head__item {
  text-align: left;
  white-space: nowrap;
  padding: $size-12;
  font-size: $size-14;
}

.table__row {
  border-bottom: 1px solid $border-table;
  background: $bg-primary;
  font-size: $size-12;
}

.table__cell {
  padding: $size-18 $size-16;
}

.table__empty {
  text-align: center;
  padding: $size-20;
}